 *{
    margin: 7px;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
#cont{
    height: 100vh;width: 100vh;background:conic-gradient(from 555deg,#211951,#31257d,#0f5643,#18265e,#211951);
    display: flex;
    justify-content: center;
    align-items: center; 
}
.flower1{
    height:100px; width:100px;
    animation: rotation 5000ms infinite linear 0ms; 
}
button{
    border: #F0F3FF 1px solid;border-radius: 5px;color: white;background-color: black;
    box-shadow: 0 0 30px white;
    scale: 1.6;
    font-size: 5px;;
}
@keyframes rotation{
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}
